:root {
  font-family: 'Share Tech Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #FFFFFF;
  background-color: #000B14;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000B14;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #00ff00;
  }
  50% {
    text-shadow: 0 0 20px #00ff00;
  }
  100% {
    text-shadow: 0 0 5px #00ff00;
  }
}

.glow-text {
  animation: glow 2s infinite;
}
